html{
    font-size: 80%;
}

.header {
    position: sticky;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.heanding {
    font-size: 2rem;
    text-align: center;
}
.cantainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row2{
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.row2 h2{
    text-align: center;
    margin-bottom: 10px;
}
.overlay{
    background-color: white;
    width: 700%;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.5rem;
}
.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #ececec;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ccc
}

.button {
    padding: 10px;
    text-align: center;
}

.button .title {
    font-size: 1.1em;
    margin-bottom: 8px;
}

.button .amount {
    font-size: 1em;
    color: #28a745;
}



.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.search-bar input[type="text"]::placeholder {
    color: #999;
}

.search-icon{
    font-size: 1.6rem;
    color: #142d4c;
    margin-top: 10px;
}