.Footer-como{
    background: #402a23;
    color: white;
}

.Home-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Home-col{
    background-color: #c7b198;
}

@media screen and (max-width:760px){
    .Footer-como{
        margin-top: 140px;
       
    }
}