.favor-container{
    display: flex;
    flex-direction: column;
}
.heading{
    text-align: center;
}
.favor-product{
    display: flex;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px 10px;
}
.favor-product img{
    width: 200px;
    height: 200px;
}
.fav-title{
    display: flex;
    align-items: center;
}
.fav-img{
    width: 210px;
    height: 210px;
    padding: 5px;
    border: 1px solid #ccc;
}