.Footer-como{
    background: #142d4c;
    color: white;
}

.Home-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Home-col{
    background-color: #9fd3c7;
}